//colore 
$color-emerald: #33CC66;
$color-screamin-green: #66FF99;
$color-mine-shaft: #333333;
$color-gallery: #F0F0F0;
$color-white: #FFFFFF;

$color-primary: $color-emerald;
$color-secondary: $color-screamin-green;
$color-font: $color-mine-shaft;